body{
  background: #333;
  color: #86c2cf;
  font-size: 14px;
}
/* App.css */
.content {
  display: flex; /* Apply Flexbox layout */
}

.flex {
  display: flex; /* Ensure Flexbox layout is applied */
}

.sidebar {
  flex: 1; /* Optional: Adjust sizing as needed */
  background-color: lightgray;
}

.main {
  flex: 3; /* Optional: Adjust sizing as needed */
  background-color: white;
}
